@import "root";
@import "mixins";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

//////////////// Main Style ////////////////

.page-404 {
	padding: 0;
	margin: 0;
	background: url(../img/bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

//////////////// Content ////////////////
.middle-content {
	height: 100vh;
	background-color: rgba($dark-color, 0.93);
	z-index: 3;
	text-align: center;

	.logo {
		padding: 20px 0;
		display: block;
	}

	//////// ERROR ////////
	.error {
		span {
			color: $light-color;
			font-family: poppi-md;
			font-size: 13rem;
		}

		img {
			width: 200px;
			height: 200px;
			text-align: center;
		}
	}

	//////// Back to Home ////////
	.back {
		display: inline-block;
		background-color: $ruby;
		width: 5rem;
		padding: 10px;
		border-radius: 20px;
	}
}
