@font-face {
	font-family: cinzel-bl;
	src: url(../fonts/CinzelDecorative-Bold.ttf);
}

@font-face {
	font-family: cinzel-md;
	src: url(../fonts/CinzelDecorative-Regular.ttf);
}

@font-face {
	font-family: roboto-li;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: roboto-md;
	src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: roboto-bl;
	src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: poppi-md;
	src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
	font-family: ubunto-md;
	src: url(../fonts/Ubuntu-Medium.ttf);
}
