@import "root";
@import "mixins";

///////////////// Movie Container ////////////////
.catalog {
	margin: 2vh 0;

	///////// Filter/Sort /////////
	.topbar-filter {
		color: $light-color;
		padding: 10px 0;
		align-items: center;
		margin-bottom: 30px;
		border-bottom: $border-value;
		border-top: $border-value;

		* {
			margin-left: 10px;
		}

		label {
			font-family: poppi-li;
			color: rgba($light-color, 0.7);
			font-weight: 300;
		}

		select {
			font-family: poppi-md;
			font-size: 0.85rem;
			color: $light-color;
			padding: 0 5px;
			outline: none;
			border: none;
			width: 210px;
			border-right: $border-value;
			border-left: $border-value;
			background-color: transparent !important;

			> option {
				font-family: poppi-md;
				font-size: 0.7rem;
				padding: 5px 2px;
				background-color: $dark-color;

				&:hover {
					color: $ruby;
					transition: $transition-value;
				}
			}
		}
	}
}

///////////////// Movie Card ////////////////
.card {
	width: 18% !important;
	height: 350px;
	max-height: max-content;
	padding: 0 !important;
	border-radius: 5px !important;
	border: none !important;
	margin-right: 2%;
	margin-bottom: 2rem;
	background-color: transparent !important;

	&:hover .hvr-inner {
		opacity: 1;
		transition: $transition-value;
	}

	//////// Movie Cover ///////
	&-img-top {
		width: 100%;
		height: 80%;
		position: relative;

		.hvr-inner,
		img {
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		//////// Read More ///////
		.hvr-inner {
			position: absolute;
			text-align: center;
			background-color: rgba($dark-color, 0.8);
			padding-top: 135px;
			opacity: 0;

			> a {
				text-decoration: none;
				background-color: $ruby;
				color: $light-color;
				padding: 10px;
				border-radius: 1.3rem;
			}
		}
	}

	&-body {
		padding: 0 !important;
	}

	&-title {
		font-family: poppi-md;

		.movie_name a {
			color: $light-color;
			text-decoration: none;
		}
	}
}
