@import "mixins";
@import "root";

body {
	height: 100vh;
}

.main-content {
	width: 100%;
	height: 100vh;
	background: url(../img/mov-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.25;
	@include position_dir(0, 0, 0, 0);
	z-index: -1;
	position: relative;
}

.inner-container {
	background-color: $dark-color;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	overflow: hidden;
	position: absolute;
	width: 700px;
	max-width: 80%;
	height: 80%;
	top: 10%;
	@include position_dir(10%, 0, 20%, 0);
}

.form {
	margin-top: 10%;
	&-container {
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;
		text-align: center;
	}

	&-group {
		margin: 20px;

		> input {
			margin-bottom: 5%;
			background-color: rgba($light-color, 0.1);
			outline: none;
			border: none;
			border-radius: 10px;

			&::placeholder {
				font-family: poppi-md;
				font-size: 13px;
			}

			&:focus {
				outline: none !important;
				background-color: rgba($light-color, 0.1);
			}
		}
	}
}
h1 {
	font-family: poppi-bl;
	color: $light-color;
}

a {
	text-decoration: none;
	color: rgba($light-color, 0.75);
	font-family: poppi-md;
	font-size: 0.8rem;

	&:hover {
		color: rgba($light-color, 1);
	}
}

p {
	font-family: puppi-md;
	letter-spacing: 0.5px;
	line-height: 20px;
	margin: 20px 0 30px;
}

span {
	color: $gray-color;
	font-family: puppi-md;
	font-size: 12px;
}

.btn {
	border-radius: 20px;
	color: $light-color;
	font-size: 12px;
	padding: 12px 45px;
	margin-top: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

	&:active {
		transform: scale(0.95);
	}

	&:focus {
		outline: none;
	}

	&-ghost {
		background-color: transparent;
		border-color: rgba($light-color, 0.8);
	}
}

.sign {
	&-in {
		left: 0;
		width: 50%;
		z-index: 2;
		opacity: 0;

		.right-panel-active & {
			transform: translateX(100%);
		}

		button {
			background-color: $ruby;
			border: 1px solid $ruby;
		}

		a[href="forgot.html"] {
			display: block;
		}
	}
	&-up {
		left: 0;
		width: 50%;
		z-index: 1;
		opacity: 0;

		.right-panel-active & {
			transform: translateX(100%);
			z-index: 5;
			animation: show 0.6s;
		}

		button {
			background-color: $plum;
			border: 1px solid $plum;
		}
	}
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay {
	color: $light-color;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;

	.right-panel-active & {
		transform: translateX(50%);
	}

	&-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		transition: transform 0.6s ease-in-out;
		z-index: 100;

		.right-panel-active & {
			transform: translateX(-100%);
		}
	}

	&-panel {
		position: absolute;
		padding: 0 40px;
		text-align: center;
		top: 0;
		height: 100%;
		width: 50%;
		transform: translateX(0);
		transition: transform 0.6s ease-in-out;
	}

	&-left {
		transform: translateX(-20%);
		background-color: $plum;

		.right-panel-active & {
			transform: translateX(0);
		}
	}

	&-right {
		right: 0;
		transform: translateX(0);
		background-color: $ruby;

		.right-panel-active & {
			transform: translateX(20%);
		}
	}
}

.social {
	width: 80%;
	margin: 0 auto;

	li {
		border: 1px solid $gray-color;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		height: 40px;
		width: 40px;
	}
}

.show {
	opacity: 1;
}
.hide {
	opacity: 0;
}
